/* .text-part {
  display: inline;
  float: right;
  margin-right: 10vw;
} */

.text-part {
  /* position: absolute; */
  left: 50%;
}

textarea {
  width: 300px;
}

/* .color-part {
  margin-left: 10vw;
} */

.color-part {
  /* position: absolute; */
  left: 50%;
}

button {
  font-size: 1.5em;
  margin: 0;
  /* position: absolute; */
  /* top: 50%; */
  /* left: 50%; */
  /* -ms-transform: translate(-50%, -50%); */
  /* transform: translate(-50%, -50%); */
}

/* button {
  font-size: 1.5em;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
} */


* {
  text-align: center;
  margin: auto; 
  margin-top: 0.5%;
  margin-bottom: 0.5%;
}
